extends ../layouts/Main

block scripts
    script(src="OrdersController.js")
    script(src="OrdersService.js")

block content
    div(ng-controller="OrdersController")
        lx-tabs(layout="inline", links-tc="light", links-bgc="teal-500", indicator="yellow-500", no-divider="true", z-depth="1")
            lx-tab(heading="รายการเบิกเวชภัณฑ์")
                br
                div(flex-container="row")
                    div(flex-item="6")
                        lx-text-field(label="ระบุเลขที่ใบเบิก", fixed-label="true", icon="magnify")
                            input(type="text", ng-model="query")
                    div(flex-item="1")
                        button.btn.btn--m.btn--grey.btn--raised(lx-ripple, ng-click="doSearch()") ค้นหา
                        | &nbsp;    
                    div(flex-item="1")
                        | &nbsp;
                    div(flex-item="4")
                            input(type="checkbox", ng-model="all", ng-change="toggleList()")#switch.switch__input
                            label(for="switch").switch__label ส่งเบิกแล้ว
                            span.switch__help แสดงรายการที่ส่งเบิกแล้ว
                div(flex-container="row")
                    div(flex-item="12")
                        | &nbsp;
                        #progress
                .data-table-container(lx-scrollbar, style="max-height: 380px;")
                    table.data-table.data-table--has-secondary
                        thead
                            tr
                                th #
                                th วันที่
                                th เลขที่
                                th จำนวน
                                th ราคา (บาท)
                                th ส่งเบิก
                                th นำเข้า
                                th
                            tr
                                td(colspan="8").divider.divider--dark
                        tbody
                            tr.data-table__clickable-row(ng-repeat="o in orders")
                                td {{$index+1}}
                                td {{ o.orders_date | toShortDate }}
                                td {{ o.orders_code }}
                                td {{ o.qty | number }}
                                td {{ o.total | number }}
                                td 
                                    i.icon.icon--s.icon--green.icon--flat.mdi.mdi-check(ng-if="o.is_sent == 'Y'")
                                    i.icon.icon--s.icon--red.icon--flat.mdi.mdi-close(ng-if="o.is_sent == 'N'")
                                td 
                                    i.icon.icon--s.icon--green.icon--flat.mdi.mdi-check(ng-if="o.is_imported == 'Y'")
                                    i.icon.icon--s.icon--red.icon--flat.mdi.mdi-close(ng-if="o.is_imported == 'N'")
                                td
                                    lx-dropdown(position="right", from-top)
                                        button(lx-ripple, lx-dropdown-toggle).btn.btn--l.btn--grey.btn--icon
                                            i.mdi.mdi-dots-vertical

                                        lx-dropdown-menu
                                            ul
                                                
                                                li(ng-hide="o.is_sent == 'Y'")
                                                    a.dropdown-link(ng-click="sendOnline(o.orders_id)")
                                                        i.mdi.mdi-shopping
                                                        |&nbsp;ส่งเบิกออนไลน์
                                                li.dropdown-divider(ng-hide="o.is_sent == 'Y'")
                                                li(ng-hide="o.is_sent == 'Y'")
                                                    a.dropdown-link(ng-click="showEdit(o.orders_id)")
                                                        i.mdi.mdi-pencil
                                                        |&nbsp;แก้ไข
                                                li(ng-hide="o.is_sent == 'Y'")
                                                    a.dropdown-link(ng-click="removeOrder(o.orders_id)")
                                                        i.mdi.mdi-close
                                                        |&nbsp;ยกเลิกรายการ
                                                li(ng-show="o.is_sent == 'Y'")
                                                    a.dropdown-link
                                                        i.mdi.mdi-comment-alert-outline
                                                        |&nbsp; ดูข้อมูล  
                div(flex-container="row")
                    div(flex-item="11")
                        | &nbsp;
                    div(flex-item="1")
                        br
                        button(lx-ripple, ng-click="showNewOrder()").btn.btn--l.btn--red.btn--fab
                            i.mdi.mdi-plus

            lx-tab(heading="ตรวจสอบสถานะเบิก (Online)")
                | ดหกดหกดหดกหด
                
            lx-tab(heading="ตรวจสอบยอดคงเหลือ (Online)")
                | ssssss

        lx-dialog#mdlNewOrder.dialog.dialog--l(onclose="closingNewOrder()")
            .dialog__header
                .toolbar.bgc-teal-500
                    span.toolbar__label.tc-white.fs-title
                        | บันทึกเบิกเวชภัณฑ์

                    .toolbar__right
                        button.btn.btn--l.btn--white.btn--icon(lx-ripple, lx-dialog-close)
                            i.mdi.mdi-close
            .dialog__content
                .card
                    div(class="p+")
                        span.fs-title
                            i.icon.icon--s.icon--grey.icon--flat.mdi.mdi-shopping
                            | &nbsp;รายละเอียดการเบิกเวชภัณฑ์

                        div(flex-container="row", flex-gutter="24")
                            div(flex-item="3")
                                lx-date-picker(label="วันที่เบิก", model="orderDate", locale="th")
                            div(flex-item="3")
                                lx-text-field(label="เลขที่เบิก")
                                    input(type="text", ng-model="orderCode")

                            div(flex-item="6")
                                lx-select(ng-model="staff.selected", placeholder="เลือกเจ้าหน้าที่เบิก",
                                choices="staff.list", selection-to-model="staff.toModel(data, callback)", floating-label)
                                    lx-select-selected  {{ $selected.fullname }}
                                    lx-select-choices {{ $choice.fullname}}
                        div(flex-container="row", flex-gutter="24")
                            div(flex-item="11")
                                .fs-title
                                    i.icon.icon--grey.icon--flat.icon--s.mdi.mdi--desktop-windows
                                    | &nbsp;รายการเบิก
                            div(flex-item="1", ng-hide="showAddItemForm")

                                button.btn.btn--m.btn--green.btn--fab(lx-ripple, ng-click="showAddItem()")
                                        i.mdi.mdi-plus
                        div(flex-container="row", flex-gutter="24", ng-show="showAddItemForm")
                            div(flex-item="8")
                                lx-select(ng-model="ajax.selected", placeholder="เลือกรายการเวชภัณฑ์",
                                choices="ajax.list", filter="ajax.update(newValue, oldValue)", 
                                loading="{{ ajax.loading }}", min-length="2", allow-clear="true",
                                selection-to-model="ajax.toModel(data, callback)", floating-label)
                                    lx-select-selected {{ $selected.name }}
                                    lx-select-choices {{ $choice.name}}
                            div(flex-item="2")
                                lx-text-field(label="จำนวนเบิก", error="!checkNumber(newProductQty)", 
                                valid="checkNumber(newProductQty)")
                                    input(type="number", ng-model="newProductQty")
                                ul(ng-if="!checkNumber(newProductQty)").form-error
                                    li กรุณาระบุจำนวนตัวเลข และ ต้องมากกว่า 0
                            div(flex-item="2")
                                br
                                br
                                button.btn.btn--m.btn--teal.btn--raised(lx-ripple, ng-click="doAddItem()") Add
                                    //- i.mdi.mdi--add-circle
                                | &nbsp;
                                button.btn.btn--m.btn--grey.btn--raised(lx-ripple, ng-click="clearAddItemForm()") Del
                                    //- i.mdi.mdiupdated--remove-circle
                        div(flex-container="row")
                            div(flex-item="12")
                                .data-table-container
                                    table.data-table.data-table--has-secondary
                                        thead
                                            tr
                                                th #
                                                th รายการ
                                                th หน่วย
                                                th จำนวน
                                                th @
                                                th เป็นเงิน
                                                th
                                            tr
                                                td(colspan="7").divider.divider--dark
                                        tbody
                                            tr.data-table__clickable-row(ng-repeat="p in products")
                                                td {{$index+1}}
                                                td
                                                    span {{p.name}}
                                                td
                                                    span {{p.units}}
                                                td
                                                    span {{p.qty | number}}
                                                td
                                                    span {{p.cost | number}}
                                                td
                                                    span {{p.qty * p.cost | number}}
                                                td
                                                    lx-dropdown(position="right", from-top)
                                                        button.btn.btn--l.btn--grey.btn--icon(lx-ripple, lx-dropdown-toggle)
                                                            i.mdi.mdi-dots-vertical
                                                        lx-dropdown-menu
                                                            ul
                                                                li
                                                                    a.dropdown-link(ng-click="removeItem(p.id)")
                                                                        i.mdi.mdi-close
                                                                        | &nbsp;Remove
                                                                        
                                    br
                                    .fs-title(style="float: right;")
                                        | รวม {{total | number}} บาท
                                    | &nbsp;
                                      
            .dialog__actions
                button.btn.btn--m.btn--blue.btn--raised(lx-ripple, ng-click="doSaveOrder()") Save
                | &nbsp;
                button.btn.btn--m.btn--red.btn--raised(lx-ripple, lx-dialog-close) Close
